/* /* input{
    width: 250px;
} 
.container{
    width: 250px;
    height:auto;
    font-size: 15px;
    margin-left: 0;
    background-color: wheat;
}
button{
    margin-right: 0;
}

.container-2{
    margin-left: 300px;
    
} */