<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:wheat;">
            <form class="col-12" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <label class=" col-form-label" for="name">Customer Mobile Number:</label>
                    <input type="text" class="form-control col-sm-10" [(ngModel)]="sales.customerPhone"
                        name="customerPhone" id="customerPhone">
                </div>

                <div class="form-row">
                    <label class="col-form-label" for="name">Medicine Id:</label>
                    <input type="number" class="form-control col-sm-10" name="medicineId" [(ngModel)]="sales.medicineId"
                        id="medicineId" />
                </div>

                <div class="form-row mb-3">
                    <label class="col-form-label" for="name">Quantity:</label>
                    <input type="number" class="form-control col-sm-10" [(ngModel)]="sales.quantity" name="quantity"
                        id="quantity" />
                </div>

                <button class="btn btn-success" type="submit" value="Submit">Submit</button><br><br>

            </form>
        </div>
        <div class="col-sm-8">
            <table class="table table-striped table-bordered table-dark" id="myTable">
                <thead>
                    <tr>
                        <th>Sl.No</th>
                        <th>Medicine Name</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of listData; index as i">
                        <td><span>{{i+1}}</span></td>
                        <td><span>{{list.mName}}</span></td>
                        <td><span>{{list.quantity}}</span></td>
                        <td><span>{{list.amount}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><span>Total Amount:</span></td>
                        <td><span>{{amt1}}</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="error" class="mt-2 alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alert!</strong> Entered Mobile Number Not Exists or Out of Stock.
            <button type="button" class="btn-close" onclick="reset()" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>