<div style="width: 100%; height:100%;margin-top: 55px; position: fixed; top:0; left:0;
background-image: url('../../assets/images/1464882.jpg'); background-position: center;
background-size: cover;">
    <div class="ignite">
        <p style="align-items: left; margin-right: 15px;">
            {{date | date: "yyyy-MM-dd"}}
            {{date | date: "HH:mm:ss"}}
        </p>
        <p style="align-items: right; margin-left: 25px;">Welcome : {{name}}</p>

    </div>
    <h1>Welcome To Ignite Pharmacy</h1>
</div>