/* .bg{
    background-image: url("../assets/images/18-183514_thumb-image-pharmacy.jpg");
  /* Full height */
  /* height:auto;
  width: 100%;
  top:0; 
  left:0;
  position: absolute; */
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  */